.DemoPage {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.demobody {
  display: flex;
  flex-wrap: wrap;

  position: relative;
  background-color: aquamarine;
  height: 100%;
  width: 100%;
  background: transparent
    linear-gradient(180deg, #6fd0d1 0%, #6fd0d1 15%, #fafafa 100%) 0% 0%
    no-repeat padding-box;
  height: 500px;
}
.logo2 {
  /* height: 100px; */
  /* position: absolute; */
  width: 100%;
  display: flex;
}
.demologo {
  margin: 20px;
  width: 100px;
}
.white {
  color: #fff;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 600;
}
.demosection2 {
  justify-content: space-evenly;
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
  /* height: 50%; */
  flex-wrap: wrap;
}
.demoleft {
  width: 40%;
  height: fit-content;
}
.text {
  text-align: start;
}
.demohead {
  width: 40%;
}
.demoright {
  height: 600px;
  padding: 10px;
  width: 100%;
  position: relative;

  border: 1px solid black;
  text-align: start;
  font-size: x-large;
  background-color: white;
  /* top: 10px; */
}
.formdatas {
  margin-left: 50px;
}
.forminput {
  color: -internal-light-dark(graytext, rgb(170, 170, 170));
  background-color: rgb(243, 233, 233);
  border-radius: 5px;
  width: 400px;
  height: 30px;
  font-size: large;
  opacity: 0.6;
}
.demobtn {
  width: 100px;
  height: 50px;
  border-radius: 10px;

  background-color: orange;
}
.demodown {
  width: 50%;
  height: 300px;
}
h4 {
  margin-bottom: 1.5rem;
  font-weight: bolder;
}
.demoimages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 700px;
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  position: relative;

  width: 300px;
}

.demoimg {
  width: 200px;
}
.captcha {
  width: 150px;
  height: 100px;
  background-size: cover;
  background-image: url("https://www.google.com/recaptcha/enterprise/anchor?ar=1&k=6Ld_ad8ZAAAAAAqr0ePo1dUfAi0m4KPkCMQYwPPm&co=aHR0cHM6Ly9zaGFyZS5oc2Zvcm1zLmNvbTo0NDM.&hl=en&v=Xh5Zjh8Od10-SgxpI_tcSnHR&size=invisible&badge=inline&cb=vp9aongwwshe");
}

@media only screen and (min-width: 350px) and (max-width: 900px) {
  body {
    margin: 0;
    padding: 0;
  }
  .DemoPage {
    display: flex;
    flex-direction: column;
  }
  .demosection2 {
    position: relative;
    display: flex;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }

  .demohead {
    width: 100%;
  }
  .demobody {
    width: 100%;
    height: auto;
  }
  .demoright {
    width: 100%;
    height: auto;
  }
  .formdatas {
    width: 100%;
    display: contents;
  }
  .forminput {
    width: 100%;
  }
  .demoleft {
    width: 100%;
    margin-left: 0;
  }
  .demodown {
    margin: 10px;
    position: relative;
    width: 100%;
    height: fit-content;
  }
  .demoimages {
    width: 100%;
  }
}
