#faqPage {
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 400px;
  color: #fff;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3ut23Qf6LAqobKaf5JGVS9WvT9-bFDhmlRXe4iMY32bhqPr3J8EqFGCGk1XxgCi2s4NE&usqp=CAU");
  width: 100%;
}

#faq-header h1 {
  position: absolute;

  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  font-size: 55px;
  color: #fff;
}

.faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  margin: 0;
  align-items: flex-start;
}

.faqcontainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: flex-start;
}
.faqhr {
  width: 60%;
}
.faqcontainer h2 {
  font-size: medium;
}
.answer {
  text-align: left;
  width: 70%;
}
.Collapsible {
  font-size: large;
  display: flex;
  /* position: absolute; */
  background-color: #fff;
  color: black;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

  font-size: large;
  font-weight: 400;
}
