.signhome {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.signbody {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.signbox {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 800px;
  height: 500px;
}
.signboxhead {
  background-color: #34d0d0;
  height: 100px;
  color: aliceblue;
  font-size: large;
}
#signupbody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.form {
  height: 380px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}
.formfeild {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.in {
  border: 0px;
  border-bottom: 1px solid grey;
  width: 500px;
}
.sub {
  width: 200px;
  height: 30px;
  background-color: #34d0d0;
}
.google {
  width: 200px;
}
.signuppage {
  background: aqua;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signupform {
  border: 1px solid gray;
  display: flex;
  width: 70%;
  height: 500px;
  background-color: aliceblue;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.signupform input {
  width: 300px;
}
@media only screen and (min-width: 370px) and (max-width: 900px) {
  .signhome {
    width: 110vw;
  }
  .signbody {
    width: 100%;
  }
  .signbox {
    width: 100%;
  }
  .signboxhead {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .formfeild {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .signupform input {
    width: 100%;
  }

  .in {
    width: 100%;
  }
}
