body {
  margin: 0px;
  padding: 0px;
}
.thehome {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.Home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  align-content: center;
  justify-content: space-between;
}
.homebody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

li .nav-link {
  color: aliceblue;
}
.nav {
  width: 1000px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  /* background-color: #d35d54; */

  font-size: large;
  font-style: italic;
  font-weight: 400;
}
.profile {
  color: #34d0d0;
  font-size: large;
}
#Collapsiblepro {
  background-color: #34d0d0;
}
.proname {
  color: lightgreen;
}
.logo {
  width: 110px;
}

.link {
  text-decoration: none;
  color: white;
}
.link ::selection {
  background-color: #34d0d0;
}
.navbar {
  color: #fff;
  height: 100px;
  text-decoration: none;
}
.navbar > .container {
  align-items: flex-start;
}
#navhead {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-around;
}
/* li.nav-link {
  text-decoration: auto;
}
.navbar-expand-lg {
  text-decoration: none;
  color: #fff;
}
.navbar-collapse {
  text-decoration: none;
  color: #fff;
} */
.navbody {
  border: 1px solid black;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(24 39 53);
}
.nav2 {
  color: #fff;
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.section1 {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-size: auto, auto, cover;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/hero-image2.jpg"), url("../images//grid.jpg");
  min-height: 69vh;
  /* background-image: url("../images/hero-image2.jpg"), url("../images//grid.png"); */
}
.hr {
  margin: auto;

  height: 10px;

  background-color: aqua;
}

.introtext {
  display: flex;
  width: 50%;
  font-size: larger;
  color: aliceblue;
  padding: 20px;

  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.start {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(51, 204, 204);
  padding: 8px 24px;
  font-size: 18px;
  line-height: 25px;

  font-family: Roboto;
}
.section2 {
  position: relative;
  color: #fff;
  font-size: 14px;
  /* line-height: 18px; */
  /* text-align: center; */
  /* box-sizing: border-box; */
  height: 200px;
  background-color: rgb(24 39 53);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.sec2para {
  width: 50%;
}

.section3 {
  width: 1100px;
  position: relative;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#sec3head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxes1 {
  display: flex;
  flex-direction: row;
  width: 1100px;
  justify-content: space-between;
}
.boxes2 {
  margin-top: 1%;

  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  width: 1100px;
}
.box1 {
  background-color: #232835;
  color: aliceblue;
}
.box2 {
  background-color: #34d0d0;
}
.sector3 {
  margin-top: 20px;

  width: 355px;
  height: 200px;
}
.unqbtn {
  background-color: #34d0d0;
  border-radius: 10%;
}
.sector4 .box4,
.box6,
.box7,
.box8 {
  /* margin-top: 5%; */
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  text-align: flex-start;
  padding-left: 1%;
}
.box4,
.box7 {
  width: 250px;
}
.box6 {
  background-color: #232835;
  color: aliceblue;
}
.box7 {
  background-color: #34d0d0;
}
.box3 {
  background-size: cover;
  background-position: center;
  animation-name: box3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes box3 {
  0% {
    background-image: url("https://ongrid.in/images/home/whyOngridConstructor.jpg");
    background-size: cover;
    animation-duration: 3s;
  }
  55% {
    background-image: url("https://ongrid.in/images/home/whyOngridFactoryWorker.jpg");
    background-size: cover;
    animation-duration: 5s;
  }
  100% {
    background-image: url("https://ongrid.in/images/home/whyOngridWaiter.jpg");
    animation-duration: 2s;
  }
}
.box4 {
  height: 200px;
  background-size: cover;
  background-position: center;
  animation-name: box4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes box4 {
  0% {
    background-image: url("https://ongrid.in/images/home/housekeeping.jpg");
    background-size: cover;
    animation-duration: 3s;
  }
  55% {
    background-image: url("https://ongrid.in/images/home/Armed-Vip-Security-Guards.png");
    background-size: cover;
    animation-duration: 5s;
  }
  100% {
    background-image: url("https://ongrid.in/images/home/whyOngridArchitect.jpg");
    animation-duration: 2s;
  }
}
.box5 {
  width: 350px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-size: cover;
  background-position: center;
  animation-name: box5;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes box5 {
  0% {
    background-image: url("https://ongrid.in/images/home/whyOngridCashier.jpg");
    background-size: cover;
    animation-duration: 3s;
  }
  55% {
    background-image: url("https://ongrid.in/images/home/whyOngridEngineer.jpg");
    background-size: cover;
    animation-duration: 5s;
  }
  100% {
    background-image: url("https://ongrid.in/images/home/whyOngridTaxiDriver.jpg");
    animation-duration: 2s;
  }
}
.box6 {
  /* width: 375px; */
  /* height: 200px;
  
  /* grid-row-start: 1;
  grid-row-end: 2; */
  grid-column-start: 3;
  grid-column-end: 5;
}
.box7 {
  height: 250px;
}
.box8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 340px;
  /* height: 280px; */
  background-color: #34d0d0;
}

.box9 {
  width: 125px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-size: cover;
  background-position: center;
  animation-name: box9;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes box9 {
  0% {
    background-image: url("https://ongrid.in/images/home/whyOngridTeacher.jpg");
    background-size: cover;
    animation-duration: 3s;
  }
  55% {
    background-image: url("https://ongrid.in/images/home/whyOngridDeliveryMan.jpg");
    background-size: cover;
    animation-duration: 5s;
  }
  100% {
    background-image: url("https://ongrid.in/images/home/housekeeping.png");
    animation-duration: 2s;
  }
}
#section4 {
  width: 1100px;
  display: flex;
}
#ouerofferings {
  width: 100%;
}
#offerings {
  width: 100%;
  position: relative;
  display: flex;
}
.section4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.section4box {
  height: 500px;
  position: relative;
  display: flex;
  width: 100%;
}
.sectionheading {
  font-family: robot;
  font-weight: 100;
  font-size: xx-large;
  margin-top: 30px;
  margin-bottom: 10px;
}
.sectionintro {
  font-size: medium;

  margin-bottom: 30px;
  font-weight: 400;
}

#hr {
  width: 30px;
  height: 5px;
  border-radius: 10%;
  background-color: aquamarine;
  position: absolute;
  left: 50%;
}
.btn {
  position: relative;
  padding: 0px;
  height: 90%;
  width: 33%;
  border: 0;
}
.section4head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec4box1,
.sec4box2,
.sec4box3 {
  color: white;

  border: 1px solid black;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: xx-large;

  font-family: math;
  z-index: -1;
}

.sec4box1 {
  background-image: url("https://ongrid.in/images/home/offerings-onGrid.jpg");

  background-size: cover;
}
.pop1 {
  border: 1px solid black;
  color: white;
  position: absolute;

  height: 500px;
  z-index: 2;
  background-image: url("https://ongrid.in/images/home/offerings-onGrid1.jpg");
  background-size: cover;
  animation-name: offer;
  animation-duration: 2s;
}
@keyframes offer {
  0% {
    transform: translateX(-35%) scale(0);
  }
  100% {
    transform: translateX(0%) scale(1);
    animation-duration: 1s;
  }
}
.sec4box2 {
  /* width: 350px; */

  background-image: url("https://ongrid.in/images/home/offerings-gridlines.jpg");
  background-size: cover;
}
.sec4box3 {
  /* width: 350px; */

  background-image: url("https://ongrid.in/images/home/offerings-eLockr.jpg");
  background-size: cover;
}
.popupheader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.demolink {
  border-radius: 65px;
  padding: 10px;
  background: #34d0d0 0 0 no-repeat padding-box;
  opacity: 1;
  top: 20px;
  border-radius: 95px;
  height: fit-content;
  /* right: 30px;
  top: 20px;
  position: absolute; */
  text-decoration: none;
}
.closebtn {
  position: absolute;
  right: 0;
  background-color: #34d0d0;
  border-radius: 10px;
  width: 20px;
  top: 0;
  animation-name: closer;
  animation-duration: 2s;
}

.popuphr {
  height: 5px;
  background-color: #34d0d0;
}
.popbody {
  display: flex;
}

.pop1body1 {
  height: auto;
  /* padding-left: 44px; */
  margin-top: 15px;
  text-align: justify;
  width: fit-content;
  font-size: large;
}
.pop1body2 {
  height: auto;

  margin-top: 15px;
  text-align: justify;
  width: fit-content;
  font-size: large;
}
.pop2text {
  font-size: x-large;

  margin-top: 70px;
}
.pop2footer {
  margin-bottom: 30px;
  font-size: large;
}
.active {
  color: #34d0d0;
}
.section5 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}
.section5body {
  position: relative;
  width: 1000px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section5heading {
  font-family: robot;
  font-weight: 100;
  font-size: xx-large;
  margin-top: 30px;
  margin-bottom: 10px;
}
.section5intro {
  font-size: medium;
  width: 970px;
  margin-bottom: 30px;
}
#sec5hr {
  width: 30px;
  height: 5px;
  border-radius: 10%;
  background-color: aquamarine;
  position: absolute;
  left: 50%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.businessgrid {
  border: 1px solid black;
  position: relative;
  width: 300px;
  height: 250px;
  text-align: center;
  background-color: rgb(86, 75, 75);
}
.businessimage {
  /* box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
  filter: brightness(0.5);
  width: 300px;
  height: 250px;
  /* opacity: 0.2; */
  /* z-index: -2; */
}
.popupcard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.popups {
  width: 70%;
  height: 800px;
  border: #34d0d0;
  border: 1px solid;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: slideIn 2s;
  align-items: center;
}

@keyframes slideIn {
  from {
    /* visibility: collapse; */
    transform: translateX(-35px) scale(0);
    /* transform: translatez(-100%); */
    animation-duration: 1s;
    opacity: 0;
  }
  to {
    transform: translateX(o) scale(1);
    /* transform: translatez(0); */
    animation-duration: 1s;
    opacity: 1;
  }
}
.unqbtn {
  right: 1%;
  position: absolute;
  width: 30px;
  border-radius: 50%;

  background-color: #34d0d0;
  color: #fff;
  font-size: x-large;
  font-weight: 500;
}
.title {
  position: absolute;
  top: 50px;
  color: #fff;
  font-weight: 500;
  font-size: large;
  left: 10%;
}

.details {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: large;
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.83);
  color: white;
  justify-content: flex-start;
  align-content: space-between;
}
.detailspara {
  text-align: start;
  margin: 1%;
  font-size: medium;
}
.uniquepopup {
  display: flex;
  background-color: rgba(80, 78, 78, 0.984);
  color: white;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: start;
  width: 100%;
  height: 60%;
  justify-content: center;
  font-size: large;
}
.down {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  height: 5vh;
}
.footermain {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  background-color: #232835;
  color: aliceblue;
}
.footer {
  color: aliceblue;
  display: flex;
  height: 150px;
  /* background-color: rgb(65, 70, 63); */
  justify-content: space-around;
  align-items: center;
}
.footer1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
}
.a {
  /* height: 30px; */
  background-color: rgb(136, 131, 131);
}

.footer2 {
  color: white;
  display: flex;
  flex-direction: column;
}
.footerlinks {
  color: white;
  text-decoration: none;
}

/* responsive */
@media only screen and (min-width: 350px) and (max-width: 900px) {
  .thehome {
    position: relative;
    margin: 0;
    padding: 0%;
    display: flex;
    /* display: block; */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .Home {
    border: 1px solid;
    position: relative;
    /* margin: 10px; */
    /* height: 720vh; */
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* width: 900px; */

  .homebody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 2000vh; */
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    width: 100vw;
  }
  #navhead {
    width: 100%;
    height: 100%;
  }
  #container {
    display: flex;
    width: 70%;

    /* margin-left: 20%; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .container {
    width: 50%;
  }
  .section1 {
    background-image: url("../images/hero-image2.jpg");
    background-size: cover;
    background-position: center;
    height: -moz-fit-content;
    height: fit-content;
    font-size: large;

    position: relative;
    width: 100%;
  }
  .introtext {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .section2 {
    width: 100%;
    height: fit-content;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .section3 {
    position: relative;
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
  }
  .boxes1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .sector3 {
    width: 100%;
  }
  .boxes2 {
    display: flex;
    width: 100%;
    /* width: 850px; */
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .sector4 {
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  #sec3head {
    display: flex;

    justify-content: center;
    align-content: flex-end;
  }
  #sec3head p {
    align-items: center;
    width: 100vw;
    display: flex;
  }
  #section4 {
    width: 100%;
  }
  .section4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  .section4box {
    display: grid;
    width: 100%;

    justify-items: center;
  }
  .section4box .btn {
    width: 100%;
  }
  .pop1 {
    width: 100%;
    height: 1500px;
    position: absolute;
    z-index: 2;
  }

  .section5 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
  }
  .sec5top {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .section5intro {
    display: contents;
  }
  .section5 .section5body {
    width: 100%;
    display: block;
  }
  .businessgrid {
    width: 30%;
  }
  .businessimage {
    background-size: cover;
  }

  .start {
    position: absolute;
  }
  .footermain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    /* height: 30vh; */
    justify-content: center;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
